@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.ttf') format('truetype');
    font-style: normal;
}
@font-face{
    font-family: 'Epilogue';
    src: url('../fonts/Epilogue.ttf') format('truetype');
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto.ttf') format('truetype');
    font-style: normal;
}